<template name="two">
  <h1 class="cover-heading">Two</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <form id="#main-input">
    <div class="form-group">
      <input class="form-control input-lg" placeholder="Type to begin"></input>
    </div>
  </form>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Button</a>
    <a href="#" class="btn btn-lg btn-default">Button2</a>
  </p>
  {{#if started}}
    {{#each object}}
    {{/each}}
  {{/if}}
</template>
